.hero-section {
    width: 100%;
    max-width: 1920px;
    height: 1200px;
    background-size: cover;
    background-position: center;
    position: relative; /* Для абсолютного позиционирования дочернего элемента */
    margin: 0 auto;
  }
  
  .hero-content {
    position: absolute;
    left: 50px; /* Сдвиг влево на 200px от левого края */
    top: 500px; /* Сдвиг вниз на 400px от верхнего края */
    text-align: left; /* Текст выравниваем по левому краю */
  }
  
  .hero-title {
    width: 915px;
    height: 330px;
    font-family: 'Afacad', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #ffffff;
    line-height: 1.2;
    margin: 0 0 10px 0; /* Убираем margin: auto */
  }
  
  .shop-now-button {
    width: 220px;
    height: 67px;
    background-color: #4170E8;
    border: none;
    border-radius: 5px;
    font-family: 'Afacad', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .shop-now-button:hover {
    background-color: #3558b5;
  }