.top-bar {
  width: 100%;
  max-width: 1920px;
  height: 30px;
  background-color: #4170E8;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden; /* Скрываем текст за пределами полосы */
}

.marquee {
  display: inline-block;
  white-space: nowrap; /* Текст в одну строку */
  animation: marquee 30s linear infinite; /* Анимация 10 секунд */
}

.marquee span {
  font-family: 'Afacad', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  padding-right: 70px; /* Пробел между повторениями текста */
}

@keyframes marquee {
  0% {
    transform: translateX(100%); /* Начинаем справа */
  }
  100% {
    transform: translateX(-100%); /* Уходим влево */
  }
}